/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-card {
    font-family: "Courier";
    text-align: justify;
    height: 65em;
    background: #b9ccc7;
  }

  #connect-btn:hover {
    @apply text-orange;
    border: 1px solid #000000;
    @apply rounded;
    cursor: pointer;
  }

  #account-info {
    padding: 4px;
    border: 1px solid #000000;
    @apply rounded;
  }

  .text-white {
    color: #ffffff;
  }

  .text-grey {
    color: #6c6c6c;
  }

  .text-orange {
    color: #ed8a18;
  }

  .text-blue {
    color: #1e90ff;
  }

  .card-body .card-text {
    padding-right: 1.25em;
    padding-bottom: 2em;
  }
  .card-side {
    border-left: 6px solid #ed8a18;
  }

  .divider-vertical {
    height: 100%;
    background-color: #1e90ff;
    width: 3px;
  }

  .token-symbol {
    letter-spacing: 5px;
    font-style: italic;
  }
  .circular-progress-bar-parent-wrapper {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
  .card-bottom-wrapper {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
  .circular-progress-bar-wrapper {
    width: 15em;
    height: 15em;
    display: inline-block;
  }
  .token-stats {
    display: inline-block;
  }

  #whitepaper-link {
    @apply link;
  }

  #whitepaper-link:hover {
    @apply text-white;
    @apply shadow-xl;
  }

  #etherscan-link:hover {
    @apply text-white;
  }

  #number-of-tokens-to-buy {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: none;
    font-size: 30px;
    width: 200px;
    background: linear-gradient(0deg, rgba(30, 144, 255, 1) 0%, rgba(255, 255, 255, 0) 13%);
  }

  #number-of-tokens-to-buy-btn {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-left: none;
    background: linear-gradient(0deg, rgba(30, 144, 255, 1) 0%, rgba(255, 255, 255, 0.3) 13%);
    color: #1e90ff;
  }

  #number-of-tokens-to-buy-btn:hover {
    color: #ffffff;
    background: linear-gradient(0deg, rgba(30, 144, 255, 1) 0%, rgba(255, 255, 255, 0.2) 13%);
  }
}
