/* ./src/index.css */

.text-white {
  color: #ffffff;
}

.text-grey {
  color: #6c6c6c;
}

.text-red {
  color: #c90808;
}

.text-orange {
  color: #ed8a18;
}

.text-blue {
  color: #1e90ff;
}

.text-lg {
  font-size: 120%;
}

.text-xl {
  font-size: 150%;
}

.text-bold {
  font-weight: bolder;
}

.text-italic {
  font-style: italic;
}

.card-body .card-text {
  padding-right: 1.25em;
  padding-bottom: 2em;
}
.card-side {
  border-left: 6px solid #ed8a18;
}

.divider-vertical {
  height: 100%;
  background-color: #1e90ff;
  width: 3px;
}

.token-symbol {
  letter-spacing: 5px;
  font-style: italic;
}
.circular-progress-bar-parent-wrapper {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.card-bottom-wrapper {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.token-stats {
  display: inline-block;
}

#connect-btn {
  cursor: pointer;
}

#connect-btn:hover {
  color: #ed8a18;
}

#whitepaper-link:hover {
  cursor: pointer;
}

#etherscan-link:hover {
  cursor: pointer;
}

#number-of-tokens-to-buy {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: none;
  font-size: calc(5px + 2vmin);
  width: 10vw;
  padding: 5px;
  background: linear-gradient(0deg, rgba(30, 144, 255, 1) 0%, rgba(255, 255, 255, 0) 13%);
  border-bottom-left-radius: 0.25em;
  border-top-left-radius: 0.25em;
}

#number-of-tokens-to-buy-btn {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-left: none;
  background: linear-gradient(0deg, rgba(30, 144, 255, 1) 0%, rgba(255, 255, 255, 0.3) 13%);
  color: #1e90ff;
  font-size: calc(4px + 2vmin);
  border-bottom-right-radius: 0.25em;
  border-top-right-radius: 0.25em;
}

#number-of-tokens-to-buy-btn:hover {
  color: #ffffff;
  background: linear-gradient(0deg, rgba(30, 144, 255, 1) 0%, rgba(255, 255, 255, 0.2) 13%);
}
